# Google Maps API Key
# Get your API key from: https://console.cloud.google.com/google/maps-apis
# Make sure to enable:
# - Maps JavaScript API
# - Geocoding API
VITE_GOOGLE_MAPS_API_KEY=your_api_key_here
